$color-fondo: #e0e0e0;
$color-header: #2C3E50;
$color-footer: #1A3C67;
$color-texto: #333333;
$color-primario: #3498DB;
$color-secundario: #E67E22;
$color-acento: #F1C40F;
$font-family-base: 'Nunito', sans-serif;
$tema: light;
