/* ==================== RESET ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */
/* Paleta basada en logo con fondo gris intermedio */
:root {
  --color-fondo: #e0e0e0;
  --color-header: #2C3E50;
  --color-footer: #1A3C67;
  --color-texto: #333333;
  --color-primario: #3498DB; /* Azul */
  --color-secundario: #E67E22; /* Naranja */
  --color-acento: #F1C40F; /* Amarillo */
}

body {
  background-color: var(--color-fondo);
  font-family: 'Nunito', sans-serif;
  color: var(--color-texto);
  margin: 0;
}

/* HEADER */
.site-header {
  background-color: var(--color-header);
}

.navbar .nav-link {
  color: #fff;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: var(--color-secundario);
}

/* BOTONES */
.btn-primary {
  background-color: var(--color-secundario);
  border: none;
}

.btn-primary:hover {
  background-color: #ca5c0c;
}

.btn-secondary {
  background-color: var(--color-primario);
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #2b81ba;
}
/* Ajustar imágenes de las cards */
.card-img-top {
  width: 100%;
  height: 180px; /* Ajusta la altura uniforme */
  object-fit: contain; /* Mantener proporción sin recortar */
  padding: 10px; /* Espacio para que no quede pegado */
  background-color: #f8f9fa; /* Fondo gris claro para uniformidad */
  border-bottom: 1px solid #ddd;
}


/* FOOTER */
footer {
  background-color: var(--color-footer);
  color: #fff;
  padding: 15px;
}
